#container {
    position: relative;
    height: 590px;
    width: 360px;
    background-image: url("../assets/background.jpg");
    background-color: #ffffcc;
}

#player-info-panel {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
}

#player-name {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    color: #189292;
    font-weight: bold;
}

#cookies-hack-container {
    position: absolute;
    top: 40px;
    left: 5px;
    font-size: 14px;
}

#resources {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 70px;
    width: 230px;
}

.resource {
    position: relative;
    width: 110px;
    height: 20px;
    background-color: #424242;
    border-radius: 5px;
}

.cur-res {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #189292;
}

.res-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.res-image {
    position: absolute;
    top: 0px;
    left: -10px;
}

.res-timer {
    position: absolute;;
    bottom: -15px;
    right: 0px;
    font-size: 12px
}

#player-wood {
    position: absolute;
    top: 0px;
    left: 0px;
}

#player-food {
    position: absolute;
    top: 0px;
    left: 120px;
}

#player-stone {
    position: absolute;
    top: 35px;
    left: 0px;
}

#player-iron {
    position: absolute;
    top: 35px;
    left: 120px;
}

#tab-panel {
    position: absolute;
    top: 80px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
}

#tab-button-group {
    position: absolute;
    top: 0px;
    left: 5px;
    right: 5px;
}

.tab-content-panel {
    position: absolute;
    top: 18px;
    width: 100%;
    bottom: 0px;
    background-color: rgba(220,220,220,0.8);
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
}

#quest-log {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    background-color: #eee;
    overflow-y: scroll;
    margin: 5px;
    border-radius: 3px;
}

.btn {
    background-color: #17914c;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    color: #eee;
    box-shadow: 1px 1px 1px #888;
}

.tab-btn {
    border-radius: 3px 3px 0px 0px;
    background-color: #a3a3a3;
    color: #ccc;
}

.tab-active-btn {
    background-color: #ddd;
    color: #000;
}

.danger-btn {
    background-color: #911625;
    color: #eee;
}

#quest-log-btn-group {
    position: absolute;
    margin: 5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#copy-quest-log-btn {
    float: left;
    font-size: 14px;
    margin: 0px 2px;
}

#translate-btn {
    float: left;
    font-size: 14px;
    background-color: #146191;
    margin: 0px 2px;
}

#clear-quest-log-btn {
    float: right;
    font-size: 14px;
    margin: 0px 2px;
}

#employee-filter {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
}

#sort-btn-group {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}

#class-btn-group {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
}

#fighter-filter-btn {
    background-color: #fe3e3e;
}

#ronin-filter-btn {
    background-color: #d33b87;
}

#archer-filter-btn {
    background-color: #0f9727;
}

#soldier-filter-btn {
    background-color: #158bff;
}

#warrior-filter-btn {
    background-color: #464646;
}

#cleric-filter-btn {
    background-color: #00b8ae;
}

#rogue-filter-btn {
    background-color: #7f1a20;
}

#mage-filter-btn {
    background-color: #7600c3;
}

#employee-list {
    position: absolute;
    top: 60px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
}

.employee-panel {
    position: relative;
    background-color: rgba(117, 212, 249, 0.3);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    height: 48px;
    width: 320;
    margin: 2px 5px;
}

.employee-thumbnail {
    position: absolute;
    top: 2px;
    left: 2px;
}

.class-thumbnail {
    position: absolute;
    top: 2px;
    left: 2px;
}

.employee-name {
    position: absolute;
    top: 2px;
    left: 44px;
    font-size: 16px;
}

.promo-thumbnail {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.employee-level {
    position: absolute;
    bottom: 0px;
    left: 44px;
    font-size: 14px;
}

.employee-policy {
    position: absolute;
    bottom: 0px;
    right: 130px;
    font-size: 14px;
    font-style: italic;
    color: #00a;
}

.weapon-thumbnail {
    position: absolute;
    top: 4px;
    right: 86px;
}

.armor-thumbnail {
    position: absolute;
    top: 4px;
    right: 44px;
}

.accessory-thumbnail {
    position: absolute;
    top: 4px;
    right: 2px;
}

.team-panel {
    height: 145px;
    width: 141px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 1px 1px #888;
}

#team-panel-0 {
    position: absolute;
    top: 15px;
    left: 25px;
}

#team-panel-1 {
    position: absolute;
    top: 15px;
    right: 25px;
}

#team-panel-2 {
    position: absolute;
    top: 170px;
    left: 25px;
}

#team-panel-3 {
    position: absolute;
    top: 170px;
    right: 25px;
}

#team-panel-4 {
    position: absolute;
    top: 325px;
    left: 25px;
}

#team-panel-5 {
    position: absolute;
    top: 325px;
    right: 25px;
}

.team-name {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    text-align: center;
    background-color: rgba(24, 146, 146,0.6);
    font-size: 14px;
    color: #000;
    border-radius: 5px 5px 0px 0px;
    color: #eee;
}

.team-container {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    background-color: rgba(255,255,255,0.6);
}

.team-policy {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20px;
    background-color: rgba(24, 146, 146,0.6);
    text-align: center;
    font-size: 14px;
    color: #eee;
    font-style: italic;

}

.team-slot {
    width: 40px;
    height: 44px;
}

.team-slot-0 {
    position: absolute;
    top: 5px;
    left: 5px;
}

.team-slot-1 {
    position: absolute;
    top: 5px;
    left: 50px;
}

.team-slot-2 {
    position: absolute;
    top: 5px;
    left: 95px;
}

.team-slot-3 {
    position: absolute;
    top: 54px;
    left: 5px;
}

.team-slot-4 {
    position: absolute;
    top: 54px;
    left: 50px;
}

.team-slot-5 {
    position: absolute;
    top: 54px;
    left: 95px;
}

.team-employee-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.team-class-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.team-promo-thumbnail {
    position: absolute;
    bottom: -2px;
    left: -2px;
}

.team-leader-thumbnail {
    position: absolute;
    top: 0px;
    right: 0px;
}