#container {
    position: relative;
    height: 100%;
    width: 360px;
    background-image: url("../assets/background.jpg");
    background-color: #c5a78f;
    background-repeat: no-repeat;
}

#player-info-panel {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.4);
}

#player-name {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    color: #189292;
    font-weight: bold;
}

#cookies-hack-container {
    position: absolute;
    top: 40px;
    left: 5px;
    font-size: 14px;
}

#item-effects-container {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 120px;
    height: 45px;
    color: #fff;
}

#item-effects-container img {
    width: 12px;
    height: 12px;
}

#resources {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 70px;
    width: 230px;
}

.resource {
    position: relative;
    width: 110px;
    height: 20px;
    background-color: #424242;
    border-radius: 5px;
}

.cur-res {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #189292;
}

.res-text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.res-image {
    position: absolute;
    top: 0px;
    left: -10px;
}

.res-timer {
    position: absolute;;
    bottom: -15px;
    right: 0px;
    font-size: 12px;
    color: #fff;
}

.res-raw {
    position: absolute;;
    bottom: -15px;
    left: 0px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.res-raw:hover {
    font-weight: bold;
}

#player-wood {
    position: absolute;
    top: 0px;
    left: 0px;
}

#player-food {
    position: absolute;
    top: 0px;
    left: 120px;
}

#player-stone {
    position: absolute;
    top: 35px;
    left: 0px;
}

#player-iron {
    position: absolute;
    top: 35px;
    left: 120px;
}

#tab-panel {
    position: absolute;
    top: 85px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
}

#tab-button-group {
    position: absolute;
    top: 0px;
    left: 5px;
    right: 5px;
    display: inline-block;
    height: 15px;
}

.tab-content-panel {
    position: absolute;
    top: 18px;
    width: 100%;
    bottom: 0px;
    background-color: rgba(220,220,220,0.8);
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888;
}

.btn {
    background-color: #17914c;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
    color: #eee;
    box-shadow: 1px 1px 1px #888;
}

.tab-btn {
    border-radius: 3px 3px 0px 0px;
    background-color: #a3a3a3;
    color: #ccc;
    display: inline-block;
    vertical-align: bottom;
}

.tab-active-btn {
    background-color: #ddd;
    color: #000;
}

.danger-btn {
    background-color: #911625;
    color: #eee;
}

/* ================================= DIALOGUES TAB ================================= */

#quest-log {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
    background-color: #eee;
    overflow-y: scroll;
    margin: 5px;
    border-radius: 3px;
}

#quest-log-btn-group {
    position: absolute;
    margin: 5px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#copy-quest-log-btn {
    float: left;
    font-size: 14px;
    margin: 0px 2px;
}

#translate-btn {
    float: left;
    font-size: 14px;
    background-color: #146191;
    margin: 0px 2px;
}

#clear-quest-log-btn {
    float: right;
    font-size: 14px;
    margin: 0px 2px;
}

/* ================================= EMPLOYEES TAB ================================= */

#employee-filter {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
}

#sort-btn-group {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 30px;
    text-align: left;
}

#expand-collapse-group {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 30px;
    text-align: right;
}

#class-btn-group {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
}

#fighter-filter-btn {
    background-color: #fe3e3e;
}

#ronin-filter-btn {
    background-color: #d33b87;
}

#archer-filter-btn {
    background-color: #0f9727;
}

#soldier-filter-btn {
    background-color: #158bff;
}

#warrior-filter-btn {
    background-color: #464646;
}

#cleric-filter-btn {
    background-color: #00b8ae;
}

#rogue-filter-btn {
    background-color: #7f1a20;
}

#mage-filter-btn {
    background-color: #7600c3;
}

#employee-list {
    position: absolute;
    top: 60px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
}

.employee-panel {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 2px 5px;
    color: #eee;
}

.employee-general {
    position: relative;
    height: 48px;
    width: 100%;
}

.employee-assignment {
    position: absolute;
    top: 0px;
    right: 130px;
    font-size: 30px;
    text-align: right;
    font-weight: 800;
    font-family: fantasy;
    opacity: 0.6;
}

.employee-details {
    position: relative;
    width: 100%;
}

.equipment-details {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.clickable-thumbnail-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.clickable-thumbnail-overlay:hover {
    box-shadow: inset 0px 0px 10px #fff;
    background: rgba(255, 255, 255, 0.4);
}

.selected-thumbnail-overlay {
    background: rgba(255, 255, 255, 0.4);
}

.thumbnail-overlay-tick {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.0;
}

.selected-thumbnail-overlay .thumbnail-overlay-tick {
    opacity: 1.0;
}


.employee-thumbnail-container {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 130px;
    cursor: pointer;
}

.class-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.employee-name {
    position: absolute;
    top: -4px;
    left: 42px;
    font-size: 16px;
}

.promo-thumbnail {
    position: absolute;
    bottom: -2px;
    left: -2px;
}

.employee-level {
    position: absolute;
    bottom: -2px;
    left: 42px;
    font-size: 14px;
}

.employee-policy {
    position: absolute;
    bottom: -2px;
    right: 0px;
    font-size: 14px;
    font-style: italic;
}

.employee-normal-policy {
    color: #3cf;
}

.employee-raid-policy {
    color: #fc3;
}

.employee-current-exp-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 12px;
    background-color: #555;
}

.employee-current-exp-text {
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 11px;
    z-index: 1;
    color: #eee;
    white-space: nowrap;
}

.employee-current-exp {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #189292;
}

.employee-remain-exp-container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 12px;
    background-color: #555;
    font-size: 10px;
}

.employee-remain-exp {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #189292;
}

.employee-remain-exp-text {
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 11px;
    z-index: 1;
    color: #eee;
    white-space: nowrap;
}

.employee-height {
    position: absolute;
    bottom: -2px;
    right: 0px;
    font-size: 14px;
    font-style: italic;
    color: #3cf;
}

.employee-awaken {
    position: absolute;
    top: 16px;
    left: 42px;
    height: 20px;
    width: 80px;
}

.weapon-thumbnail-container {
    position: absolute;
    top: 4px;
    right: 86px;
}

.armor-thumbnail-container {
    position: absolute;
    top: 4px;
    right: 44px;
}

.accessory-thumbnail-container {
    position: absolute;
    top: 4px;
    right: 2px;
}

.stats-icon {
    height: 15px;
    width: 15px;
}

.stats-table {
    color: #e4974a;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.stats-table td {
    padding-left: 3px;
    text-align: left;
}

.stats-table th {
    padding-left: 3px;
    text-align: left;
}

.stats-value {
    color: #eee;
}

.hidden-stats {
    color: #4294e6;
}

.skill-table {
    font-size: 12px;
    color: #eee;
    width: 100%;
    text-align: left;
}

.skill-table th {
    font-size: 14px;
}

/* ================================= TEAM TAB ================================= */

.team-panel {
    height: 145px;
    width: 141px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 1px 1px #888;
}

#team-panel-0 {
    position: absolute;
    top: 15px;
    left: 25px;
}

#team-panel-1 {
    position: absolute;
    top: 15px;
    right: 25px;
}

#team-panel-2 {
    position: absolute;
    top: 170px;
    left: 25px;
}

#team-panel-3 {
    position: absolute;
    top: 170px;
    right: 25px;
}

#team-panel-4 {
    position: absolute;
    top: 325px;
    left: 25px;
}

#team-panel-5 {
    position: absolute;
    top: 325px;
    right: 25px;
}

.team-name {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    font-size: 14px;
    color: #000;
    border-radius: 2px 2px 0px 0px;
    color: #eee;
}

.team-container {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    background-color: rgba(0,0,0,0.7);
}

.team-policy {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20px;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 14px;
    color: #3cf;
    font-style: italic;
}

.team-raid-policy {
    color: #fc3;
}

.team-slot {
    width: 40px;
    height: 44px;
}

.team-slot-0 {
    position: absolute;
    top: 5px;
    left: 5px;
}

.team-slot-1 {
    position: absolute;
    top: 5px;
    left: 50px;
}

.team-slot-2 {
    position: absolute;
    top: 5px;
    left: 95px;
}

.team-slot-3 {
    position: absolute;
    top: 54px;
    left: 5px;
}

.team-slot-4 {
    position: absolute;
    top: 54px;
    left: 50px;
}

.team-slot-5 {
    position: absolute;
    top: 54px;
    left: 95px;
}

.team-employee-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.team-class-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.team-promo-thumbnail {
    position: absolute;
    bottom: -2px;
    left: -2px;
}

.team-leader-thumbnail {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* ================================= BATTLE TAB ================================= */

.battle-team-panel {
    height: 175px;
    width: 290px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px 1px 1px #888;
}

#enemy-team-panel {
    position: absolute;
    top: 15px;
    right: 30px;
}

#ally-team-panel {
    position: absolute;
    top: 285px;
    right: 30px;
}

#battle-icon {
    position: absolute;
    top: 200px;
    left: 135px;
}

#raid-accessory {
    position: absolute;
    top: 198px;
    left: 135px;
}

#raid-accessory-total {
    position: absolute;
    top: 5px;
    left: 85px;
    color: #111;
    font-size: 18px;
    width: 60px;
}

.battle-team-slot {
    width: 90px;
    height: 59px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
}

#ally-team-panel .battle-team-slot-0 {
    position: absolute;
    top: 5px;
    left: 5px;
}

#ally-team-panel .battle-team-slot-1 {
    position: absolute;
    top: 5px;
    left: 100px;
}

#ally-team-panel .battle-team-slot-2 {
    position: absolute;
    top: 5px;
    left: 195px;
}

#ally-team-panel .battle-team-slot-3 {
    position: absolute;
    top: 69px;
    left: 5px;
}

#ally-team-panel .battle-team-slot-4 {
    position: absolute;
    top: 69px;
    left: 100px;
}

#ally-team-panel .battle-team-slot-5 {
    position: absolute;
    top: 69px;
    left: 195px;
}

#enemy-team-panel .battle-team-slot-5 {
    position: absolute;
    top: 5px;
    left: 5px;
}

#enemy-team-panel .battle-team-slot-4 {
    position: absolute;
    top: 5px;
    left: 100px;
}

#enemy-team-panel .battle-team-slot-3 {
    position: absolute;
    top: 5px;
    left: 195px;
}

#enemy-team-panel .battle-team-slot-2 {
    position: absolute;
    top: 69px;
    left: 5px;
}

#enemy-team-panel .battle-team-slot-1 {
    position: absolute;
    top: 69px;
    left: 100px;
}

#enemy-team-panel .battle-team-slot-0 {
    position: absolute;
    top: 69px;
    left: 195px;
}

.battle-leader-thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
}

.battle-promo-thumbnail {
    position: absolute;
    bottom: 13px;
    left: -2px;
}

.battle-element-thumbnail {
    position: absolute;
    top: 0px;
    left: 27px;
}

.battle-hp-container {
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    height: 11px;
}

.battle-hp-background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #222;
    border-radius: 7px;
}

.battle-current-hp {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #189292;
    border-radius: 7px;
}

.battle-current-hp-text {
    position: absolute;
    top: -2px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    color: #eee;
}

.battle-ko {
    position: absolute;
    top: 0px;
    left: 0px;
}

.battle-unit-info {
    position: absolute;
    top: 0px;
    height: 44px;
    left: 40px;
    right: 0px;
    color: #eee;
    font-weight: bold;
    font-size: 10px;
    padding-top: 2px;
    padding-left: 2px;
}

.battle-policy {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20px;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.battle-normal-policy {
    color: #3cf;
}

.battle-raid-policy {
    color: #fc3;
}


/* ================================= SETTINGS TAB ================================= */
#settings-content {
    margin: 5px;
}

/* ================================= OVERLAY ================================= */

#overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

#overlay-panel {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: #f7f6d2;
    width: 250px;
    height: 180px;
}

#overlay-panel-title {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#overlay-panel-content {
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 20px;
    padding: 10px 5px 5px 5px;
}

#overlay-panel-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    padding: 2px;
    text-align: center;
}